html,body {
    margin: 0;
    padding: 0;
    background: white;
}
a {
    font-family: Roboto;
    font-weight: normal;
}
.main-hero {
    background-image: url('../img/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
#slogan-hero {
    background-image: url('../img/capodocia.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    opacity: 0.7;
}
#search-form {
    height: 150px;
    width: 100%;
    background: white;
}
#slogan {
    font-family: Roboto;
    font-size: 16px;
}
.main-hero {
    background-image: url('../img/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.nav-menu > .navbar-item:hover {
    color: none;
    background: black;
}
.span {
    font-family: Roboto;
    font-weight: bold;
}
.footer {
    height: 100px;
    width: 100%;
}
@font-face {
    font-family: Roboto;
    src: url('/font/Roboto-Regular.ttf');
}